<!DOCTYPE html>
<HTML>
    <HEAD>
        <META charset="utf-8">
        <TITLE>Welcome to Home Page</TITLE>
    </HEAD>    
    <BODY>
        {{> header}}
        <P>{{ScreamIt welcomMessage }}<p>
        {{> footer}}
    </BODY>
</HTML>