<!DOCTYPE html>
<HTML>
    <HEAD>
        <META charset="utf-8">
        <TITLE>Maintenance Page</TITLE>
    </HEAD>    
    <BODY>
        <h1>{{ pageTitle }}</h1>
        <P>{{ MaintenanceMessage }}<p>
    </BODY>
</HTML>